<html>
    <head><title>ibrahhim</title>
        <link rel="stylesheet" href="assets/style.css">      
           <script src="/assets/javascript1.js"></script>
        <script src="/assets/javascript2.js"></script>

        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </head>
        <body>
           <!-- ::::::::::::::::::::::::::::::::::::::::incsription;;;;;;;;;;;;;;;;;;;;;;; -->
           <div class="allmenu">
            <div id="navbar"> <div id="LOGO">
              <img src="/assets/S-blue.png" alt="" srcset="">
           </div>
          <input type="checkbox" id="check">
              <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
              </label>
           <ul>
            <li> <a href="/pageH"> Home </a></li>
            <li><a href="/Page1">Reservation </a></li>
            <li> <a href="/inscription">Inscription</a></li>
           </ul>
          </div>
        </div>
            <div id="tit"><h1 id="cc">Inscription</h1></div>
            <div class="allc"> 
                <form  action="/in"  method="POST" action="/in">
                
                   <span> Nom</span>
                    <input type = "text" required="required" name = "Name" value="" aria-required="true" id="nom"/>
                    <span> Prenom</span>
                    <input type = "text" required="required" value="" name = "Prenom" aria-required="true" id="pren"/>
                    <span> email</span>
                    <input type = "text"  required="required" value="" name = "EMail" aria-required="true" id="email"/>
                    <span> phone</span>
                    <input type = "text" required="required" value="" onchange="validation()" name = "Phone" aria-required="true" id="tel"/>
                    <span> Mots de passe</span>
                    <input type = "password" required="required" value="" name = "mot" aria-required="true" id="mo"/>
                    <span> confirmation mots de passe </span>
                    <input type = "password" required="required" value="" name = "cf" aria-required="true" id="cmo"/>
                    <span> Votre pays</span>
                    <select  required="required" name = "Country">
                        <option value = "aucun" selected>[choisir votre ville ]</option>
                        <option value = "casablanca">casablanca</option>
                        <option value = "safi">safi</option>
                        <option value = "agadir">agadir</option>
                        <option value = "fes">fes</option>
                        <option value = "tanger">tanger</option>
                        <option value = "sala">sala</option>
                        <option value = "el jadida">el jadida</option>
                        <option value = "essaouira">essaouira</option>
                     </select>
                     <input id="ssb" type = "submit" value = "Submit" name="submit" onclick="validation()"/>
                     
                </form>
              
            </div>
            <div class="fot">
                <div class="div1">
              <ul>
                <li> <span> Services</span></li>
                <li> <a href="index.html"> Home </a></li>
                <li><a href="RESERVER .html">Reservation </a></li>
                <li> <a href="inscription.html">Inscription</a></li>
                   </ul>
                  </div>
                  <div class="div2">
                  <ul>
                    <li> <span>  A Propos de Nous</span></li>
                    <li> <a href="https://www.hertz.ma/location-voiture-maroc/contact">Contacter Nous </a></li>
                    <li><a href="https://www.hertz.ma/location-voiture-maroc/conditions-generales-location">Conditions générales de location </a></li>
                    <li> <a href="https://www.hertz.ma/location-voiture-maroc/mentions-legales">Mentions légales</a></li>
                    <li> <a href="https://www.hertz.ma/faq">FAQ</a></li>
                       </ul>
                      </div>
        
        <div class="div3">
                       <ul>
                        <li> <span>  Nos partenaires </span></li>
                        <li> <a href="https://www.hertz.ma/">hertz.ma</a></li>
                        <li><a href="https://www.carigami.fr/location-voiture.html?gclid=Cj0KCQiAnL7yBRD3ARIsAJp_oLbb_D_Po19UtouTOCUI7atjcfY9_oVywrAPUyiIamuKUOgISvUayVEaAtXlEALw_wcB">carigami.fr</a></li>
                        <li> <a href="https://www.kayak.fr/">kayak.fr</a></li>
                        <li> <a href="inscription.html">Location safi Taha</a></li>
                           </ul>
                          </div>
                  </div>
         
        </body>
        </html>